<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
<!--    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">-->
<!--        <arguments>-->
<!--            <argument name="collections" xsi:type="array">-->
<!--                <item name="smartosc_demo_sitemap_listing_data_source" xsi:type="string">Smartosc\Demo\Model\ResourceModel\TestSiteMap\Grid\Collection</item>-->
<!--            </argument>-->
<!--        </arguments>-->
<!--    </type>-->
<!--    <virtualType name="Smartosc\Demo\Model\ResourceModel\TestSiteMap\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">-->
<!--        <arguments>-->
<!--            <argument name="mainTable" xsi:type="string">sitemap</argument>-->
<!--            <argument name="resourceModel" xsi:type="string">Smartosc\Demo\Model\ResourceModel\TestSiteMap</argument>-->
<!--        </arguments>-->
<!--    </virtualType>-->
</config>
